

*{
    padding: 0%;
}
/* team tutorial bostra*/
/*i
.team-container{
    width: 100%;
    background-color: black;
    padding: 30px;
}
.team-new{
    display: flex;
    justify-content: center;
}
*/


/* hero totorual*/
.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
    position: relative;
    padding: 0 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

nav .logo{
    width: 80px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}

.hero-content{
    text-align: center;

}

.hero-content h1{
    font-size: 130px;
    color: #fff;
    font-weight: 600;

}

.hero-content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -2;
}

/* fin totorial hero*/
.team-container{
    width: 100%;
    background-color: black;
    padding: 0 8%;
    

}
.row1{
    display: flex;
    justify-content: space-between;
    
}

.row2{
    display: flex;
    justify-content: space-between;

}

/*

#row{
    background-color:black;
    display: flex;
    justify-content: center;
}
*/

#team-tittle{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    padding-bottom: 10px;
}


#team-tittle:after{
    content: '';
    background: white ;
    display: flex;
    height: 3px;
    width: 150px;
    margin: 10px auto;

}




.profile-text-container{
    margin: 20px;
}

.profile-text1{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    color: aliceblue;
}

.profile-text2{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    color: aliceblue;


}
.profile-text3{
    color: aliceblue;
}




/* aqui empienzan las sections por clases*/
.page-section-full-bleed-section{
    background-color: aquamarine;

}

.bleed-content{
    text-align: center;
}
.text-and-tittle-block{
    text-align: center;
}

.tittle-staff2{
    text-align: center;
}

.estaff-list{
    display: block;
}

.block-content-time{
    float: left;
    width: 50%;
    text-align: center;
}

.block-content-contac{
    float: right;
    width: 50%;
    text-align: center;
}

.block-instalaciones{
    text-align: center;
}

.block-especialidades{
    background-color: brown;
    text-align: center;

}

.block-mapa{
    text-align: center;
    background-color: aqua;
}

footer {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 15px 30px 15px 30px;
    text-decoration: overline;
}

